@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

button {
    justify-content: space-between;
    padding: 1rem;
    border: none;
    border-radius: 7px;
    background-color: blueviolet;
    color: #fff;
    transition: all 0.4s ease;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(62, 11, 109);
    margin: 6px;
}

button:hover{
    background-color: rgba(137, 43, 226, 0.671);
}

h1 , h3 {
    text-transform: uppercase;
}


.title {
    margin-top: 8%;
}

mark{
    background-color: blueviolet;
    color: #fff;
    padding: 4px;
}